<div id="<%= dom_id entry %>" class="card">
	<% if entry.cover.representable? %>
		<div class="cover">
			<%= image_tag url_for(entry.cover) %>
		</div>
	<% end %>
	<div class="stack col gap-12">
		<div class="stack col gap-4">
			<p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%= link_to entry.title, entry.url, target: "_blank" %></p>
			<p class="fg-secondary"><%= entry.caption %></p>
		</div>
		<div class="stack row gap-4">
			<% if working_url?(entry.site.favicon) %>
				<span class="flair default with-icon">
					<i class="favicon"><%= image_tag url_for(entry.site.favicon) %></i>
					<%= entry.site.url %>
				</span>
			<% else %>
				<span class="flair default"><%= entry.site.url %></span>
			<% end %>
			<span class="flair default"><%= entry.category.name %></span>
		</div>
	</div>
</div>