<div id="<%= dom_id entry %>" class="card">
	<%= turbo_frame_tag :media, src: entry_path(entry), loading: :lazy, turbo_frame: "_top", class: "cover-container", style: "aspect-ratio: #{ entry.cover.metadata["width"].to_f / entry.cover.metadata["height"].to_f }" do %>
		<div class="cover-loading">
			Loading...
		</div>
	<% end %>
	<div class="stack col gap-12">
		<div class="stack col gap-4">
			<p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%= link_to entry.title, entry.url, target: "_blank" %></p>
			<p class="fg-secondary"><%= entry.caption %></p>
		</div>
		<div class="stack row gap-4 wrap-children">
			<% if working_url?(entry.site.favicon) %>
				<span class="flair default with-icon">
					<i class="favicon"><%= image_tag url_for(entry.site.favicon) %></i>
					<%= entry.site.url %>
				</span>
			<% else %>
				<span class="flair default"><%= entry.site.url %></span>
			<% end %>
			<span class="flair default"><%= entry.category.name %></span>
		</div>
	</div>
</div>