<div id="<%= dom_id log %>">
  <p>
    <strong>Url:</strong>
    <%= log.url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= log.slug %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= log.title %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= log.caption %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= log.category_id %>
  </p>

  <p>
    <strong>Metadata raw:</strong>
    <%= log.metadata_raw %>
  </p>

</div>
